html, body{
	font-family: 'Roboto', sans-serif; font-weight: 300;
	justify-content: center; 
	-webkit-box-align: center; 
	-ms-flex-align: center; 
	align-items: center; 
	margin: 0; 
	font-size: 32px; 
	color: #212121; 
	background: #fafafa; 
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
	overscroll-behavior-y: contain;
}

.btn{
	padding: 15px 30px 15px 30px;
	text-align: center;
	color: white;
	display: block;
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,.2);
	border: none;
	font-size: 13px;
	border-radius: 4px;
	transition: 100ms ease-in-out;
}

.btn:hover{
	padding: 17px 35px 17px 35px;
	box-shadow: 0px 0px 8px 3px rgba(0,0,0,.2);
}

.blue{
	background-color: #3772FF;
}

.nav{
	width: 100%;
	position: relative;
	height: 54px;
	box-shadow: 0px 2px 8px 2px rgba(0,0,0,.2);
}

.content{
	display: flex;
	justify-content: center;
	margin: 15px 30px 15px 30px;
}

.center{
	margin: auto auto;
}